<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${section.getName()}"></title>
</head>
<body>
<h1 th:text="${section.getName()}"></h1>
<a th:href="@{/sections}">К разделам</a>
<div th:each="news_post : ${section.getNews()}">
    <hr>
    <a th:href="@{/news/{id}(id=${news_post.getId()})}"><h3 th:text="${news_post.getTitle()}"></h3></a>
    <form th:if="${user.getRole().equals('ADMIN')}" method="news_post" action="/news/delete">
        <input type="hidden" name="id" th:value="${news_post.getId()}">
        <button type="submit">Удалить</button>
    </form>
    <img th:src="@{/img/{id}(id=${news_post.getImage_name()})}" width="300px">
    <p th:text="${formatForDate.format(news_post.getDate())}" style="font-size: 12px"></p>
    <p th:text="${'Лайки: ' + news_post.getLikes().size()}"></p>
</div>
</body>
</html>