<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Разделы</title>
</head>
<body>
<div th:if="${user.getRole().equals('UNKNOWN')}" style="border: 1px solid black">
    <a th:href="@{/login}">Войти</a>
    <a th:href="@{/sign}">Зарегистрироваться</a>
</div>
<div th:if="${!user.getRole().equals('UNKNOWN')}" style="border: 1px solid black">
    <a th:href="@{/logout}">Выход</a>
</div>
<div th:if="${user.getRole().equals('ADMIN')}">
    <h3>Создание раздела</h3>
    <form method="POST" action="/sections/create">
        <label for="name">Название: </label>
        <input type="text" id="name" name="name">
        <button type="submit">Создать</button>
        <p th:if="${status == 'section_exist'}">Данный раздел уже существует!</p>
    </form>
    <hr>
    <a th:href="@{/roles}">Изменить роли</a>
    <hr>
</div>
<div th:if="${user.getRole().equals('AUTHOR')}">
    <a th:href="@{/news/create}">Напсиать новостной пост</a>
    <hr>
</div>

<nav style="display: flex">
    | <div th:each="section : ${sections}">
        <a th:href="@{/sections/{id}(id=${section.getId()})}"
           th:text="${section.getName() + ' | '}"
           style="font-size: 20px"></a>
        <form th:if="${user.getRole().equals('ADMIN')}" method="POST" action="/sections/delete">
            <input type="hidden" name="id" th:value="${section.getId()}">
            <button type="submit">Удалить</button>
        </form>
    </div>

</nav>

<div style="display: flex">
    <div style="width: 50%">
        <h3 align="center">Новости за последний день</h3>
        <div th:each="post : ${last_news}">
            <hr width="80%">
            <a th:href="@{news/{id}(id=${post.getId()})}"><h3 th:text="${post.getTitle()}"></h3></a>
            <p th:text="${formatForDate.format(post.getDate())}" style="font-size: 12px"></p>
            <p th:text="${'Лайки: ' + post.getLikes().size()}"></p>
        </div>
    </div>

    <div style="width: 50%">
        <h3 align="center">Топ-10 популярных новостей</h3>
        <div th:each="post : ${top_news}">
            <hr width="80%">
            <a th:href="@{news/{id}(id=${post.getId()})}"><h3 th:text="${post.getTitle()}"></h3></a>
            <p th:text="${formatForDate.format(post.getDate())}" style="font-size: 12px"></p>
            <p th:text="${'Лайки: ' + post.getLikes().size()}"></p>
        </div>
    </div>
</div>
</body>
</html>