<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение ролей</title>
</head>
<body>
<a th:href="@{/sections}">К разделам</a>
<form method="POST" action="/roles">
    <label for="username">Usernames: </label>
    <select id="username" name="username">
        <option th:each="user : ${users}" th:text="${user.getUsername()}">
        </option>
    </select>

    <label for="role">Роли: </label>
    <select name="role" id="role">
        <option>ADMIN</option>
        <option>AUTHOR</option>
        <option>USER</option>
    </select>
    <button type="submit">Изменить роль</button>
    <p th:if="${status.equals('role_changed')}">Роль сменена</p>
    <p th:if="${status.equals('role_not_changed')}">Не удалось сменить роль</p>
</form>
</body>
</html>