<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение ролей</title>
</head>
<body>
<a th:href="@{/sections}">К разделам</a>
<form method="POST" action="/roles">
    <label for="usernames">Usernames: </label>
    <input type="text" name="username" list="usernames">
    <datalist id="usernames">
        <option th:each="user : ${users}" th:text="${user.getUsername()}">
        </option>
    </datalist>
    <label for="roles">Роли:</label>
    <input type="text" name="role" list="roles">
    <datalist id="roles">
        <option value="ADMIN">
        <option value="AUTHOR">
        <option value="USER">
    </datalist>
    <button type="submit">Изменить роль</button>
    <p th:if="${status.equals('role_changed')}">Роль сменена</p>
    <p th:if="${status.equals('role_not_changed')}">Не удалось сменить роль</p>
</form>
</body>
</html>