<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание</title>
</head>
<body>
<h3>Создание новостного поста</h3>
<a th:href="'/sections'">К разделам</a>
<form method="POST" action="/news/create" enctype="multipart/form-data">
    <label for="title">Заголовок: </label>
    <input type="text" id="title" name="title">
    <br>
    <label for="content">Содержание: </label>
    <textarea id="content" name="content"></textarea>
    <br>
    <input type="text" name="section_name" list="section_names">
    <datalist id="section_names">
        <option th:each="section : ${sections}" th:text="${section.getName()}">
        </option>
    </datalist>
    <br>
    <label for="image">Загрузить изображение: </label>
    <input type="file" name="image" id="image">
    <br>
    <button type="submit">Создать</button>
</form>
</body>
</html>